<html>
    <body>
        <form action="/produtos" method="post">

            <div>
                <label for="frase_ingles">Frase em Inglês</label>
                <input type="text" id="frase_ingles" name="frase_ingles" placeholder="Cadastre a frase"/>
            </div>
            
            <div>
                <label for="frase_portugues">Frase em Português</label>
                <input type="text" id="frase_portugues" name="frase_portugues" placeholder="Cadastre a frase"/>
            </div>
            
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>